if channel
  h1 Edit Channel  
    button#delete-channel.btn.btn-error.float-right
      i.fa.fa-close
      | &nbsp;&nbsp;Delete Channel
else
  h1 New Channel
  h5(style='margin-top: 25px') Preset Channels
  ul
    li Nyan!
      span(style='color: #bbb') &nbsp;#{`${host}nyan`}
    li Message
      span(style='color: #bbb') &nbsp;#{`${host}message`}
form#edit-channel
  .form-group
    label.form-label.label-lg(for='channel-name') Name
    input.form-input.input-lg#channel-name(type='text', name='name', placeholder='Name', value=channel && channel.name)
  .form-group#channel-layout
    label.form-label.label-lg Channel Layout
    .layout.fullscreen(class=(channel && channel.layout == 'fullscreen' ? 'active' : ''))
      .contents 1
      label Fullscreen
    .layout.right-panel(class=(channel && channel.layout == 'right-panel' ? 'active' : ''))
      .contents 1
      label Contents with Sidebar

  #channel-list
    if channel
      each URLs, i in channel.URLs
        .display-section.visible
          div
            label.form-label.label-lg Section #{i+1}
            each url, j in URLs
              .form-group
                label.form-label URL #{j+1}
                input.form-input.input-lg(class=(j > 0 ? 'pad-right' : ''), type='text', name='URLs[' + i + ']', placeholder='http://192.168.1.100/page.html', value=url)
                if j > 0
                  button.btn.btn-lg.btn-link.remove-url
                    i.fa.fa-trash
          button.btn.btn-link.mt-1.add-url
            i.fa.fa-plus.mr-2
            | Add Another URL
    - var maxSectionCount = 4
    - var length = 0
    - if (channel && channel.URLs) length = channel.URLs.length
    each url, i in [...Array(maxSectionCount - length)]
      .display-section
        div
          label.form-label.label-lg Section #{length+i+1}
          .form-group
            label.form-label URL 1
            input.form-input.input-lg(type='text', name='URLs[' + (length+i) + ']', placeholder='http://192.168.1.100/page.html')
        button.btn.btn-link.mt-1.add-url
          i.fa.fa-plus.mr-2
          | Add Another URL


  .form-group#rotation-duration
    label.form-label.label-lg Rotation Duration
    button.btn.btn-lg.btn-primary(data-duration=15 * 1000) 15s
    button.btn.btn-lg(data-duration= 30 * 1000) 30s
    button.btn.btn-lg(data-duration= 60 * 1000) 1m
    button.btn.btn-lg(data-duration= 2 * 60 * 1000) 2m
    button.btn.btn-lg(data-duration= 5 * 60 * 1000) 5m
    button.btn.btn-lg(data-duration=30 * 60 * 1000) 30m
    button.btn.btn-lg(data-duration=60 * 60 * 1000) 1h

  .columns(style='margin-top: 15px')
    .column
      button.btn.btn-primary.btn-lg.btn-block(type='submit') Save Channel
    .column
      a.btn.btn-lg.btn-block(href='/channels') Cancel