if device
  h1 Chromecast Settings
    button#delete-device.btn.btn-error.float-right
      i.fa.fa-close
      | &nbsp;&nbsp;Delete
    button#refresh-device.btn.btn-success.float-right(style='margin-right: 5px')
      i.fa.fa-refresh
      | &nbsp;&nbsp;Refresh
    button#reconnect-device.btn.btn-primary.float-right(style='margin-right: 5px')
      i.fa.fa-plus
      | &nbsp;&nbsp;Reconnect
else
  h1 Register Chromecast
form#edit-device
  .form-group
    label.form-label.label-lg(for='device-id') Name
    if device
      input.form-input.input-lg#device-id(type='text',
        value=(device.name ? device.name : 'Device name couldn\'t be loaded'),
        style='cursor: default', disabled)
    else
      select.form-select.input-lg#device-id(name='deviceId')
        option(selected, disabled, value='') Choose a Device...      
        each d in devices
          option(value=d.deviceId)= d.name
  .form-group
    label.form-label.label-lg(for='device-location') Location
    input.form-input.input-lg#device-location(type='text', name='location', placeholder='Front Window', value=device && device.location)
  .form-group
    label.form-label.label-lg(for='device-channel') Channel
    select.form-select.input-lg#device-channel(name='channel')
      if channels.length
        option(selected, disabled, value='') Choose a Channel...
        each c in channels
          if device.channel && (c._id.toString() == device.channel._id.toString())
            option(value=c._id, selected)= c.name
          else
            option(value=c._id)= c.name
      else
        option(selected, disabled, value='') No channels available.
  .columns(style='margin-top: 15px')
    if device
      .column
        button.btn.btn-primary.btn-lg.btn-block(type='submit') Save Chromecast
      .column
        a.btn.btn-lg.btn-block(href='/devices') Cancel
    else
      .column
        button.btn.btn-primary.btn-lg.btn-block(type='submit') Add Chromecast